*{margin: 0;padding: 0;}
ul, li{list-style: none;}
.slide{position: absolute;left:55%; top:25%;
  height: 420px;width: 480px;overflow: hidden;}
.slide ul{height: 100%;}
.slide li{height: 100%;}
.slide li:nth-child(1){background:#9DC8C8;}
.slide li:nth-child(2){background:#58C9B9;}
.slide li:nth-child(3){background:#519D9E;}
.slide li:nth-child(4){background:#D1B6E1;}
