/* 글쓰기 */
.boardW{
  width: 600px;
  margin: 0 auto;
}
.writeA{
  margin-top: 70px;
  font-size: 14px;
}
/* 글쓰기 끝 */

/* 제목 */
.wirteT{
  margin-top: 50px;
}
.wirteT textarea {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  background: #;
  border: solid 1px #9DC8C8;
  width: 600px;
  height: 21px;
  resize: none;
}
/* 제목 끝 */

/* 내용 */
.writeC {
  margin-top: 15px;
  margin-bottom: 5px;
}
.writeC textarea {
  font: 16px;
  color: #000000;
  background: #;
  border: solid 1px #9DC8C8;
  width: 600px;
  height: 400px;
  resize: none;
}
/* 내용 끝 */

/* 버튼 */
.btn{
  margin: 0 auto;
  text-align: center;
}
.btn button{
  margin-top: 20px;
  width: 100px;
  background: #D1B6E1;
  border: solid 0px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.btn button:hover{
  margin-top: 20px;
  width: 100px;
  background: #519D9E;
  border: solid 0px;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.btn input{
  width: 100px;
  background: #D1B6E1;
  border: solid 0px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.btn input:hover{
  margin-top: 20px;
  width: 100px;
  background: #519D9E;
  border: solid 0px;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
/* 버튼 끝 */
